DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lms"
PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET="replace-with-a-long-random-string-at-least-32-chars"
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=30

# Midtrans (sandbox / production)
MIDTRANS_MERCHANT_ID="G489508485"
MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxxx"
MIDTRANS_SERVER_KEY="SB-Mid-server-xxxxx"
MIDTRANS_IS_PRODUCTION="false"
# URL publik backend — dipakai sebagai webhook notification Midtrans
PUBLIC_BASE_URL="https://your-domain.web.id"
